**/charts/*.tgz

.vscode
.idea
.git
.env
/values*
!values.yaml
.homeserver

/files/homepage/*
!/files/homepage/default/
/files/isponsorblocktv/*
!/files/isponsorblocktv/default/
/files/kometa/*
!/files/kometa/default/
/files/librechat/*
!/files/librechat/default/
/files/qbit_manage/*
!/files/qbit_manage/default/
/files/pinchflat/yt-dlp-configs/*
!/files/pinchflat/yt-dlp-configs/default/
/files/pinchflat/user-scripts/*
!/files/pinchflat/user-scripts/default/
/files/slskd/*
!/files/slskd/default/
/files/soularr/*
!/files/soularr/default/

.DS_Store
*.gz
*.log
*.old
*.out
*.tar
*.tar.gz
*.tgz
*.tmp
*.zip
