.ansible
.github
.vscode
.claude
.idea
.git
.gitignore
.gitattributes
.env
.editorconfig
.yamllint.yaml
/assets
/bin
README.md
CHANGELOG.md
Installation.md
CLAUDE*.md
AGENTS.md
*.env
LICENSE
.homeserver

.DS_Store
*.gz
*.log
*.old
*.out
*.tar
*.tar.gz
*.tgz
*.tmp
*.zip
